
td .form-control {
    height: 65px;
    resize: none;
}

.work-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
}

    .work-title input.form-control {
        width: 400px;
        height: 50px;
    }

.d-flex label {
    align-self: center;
    font-size: 2rem;
}

.btn-add-work {
    align-self: flex-start;
    margin-bottom:10px;
}
.title-container{
    margin:40px;
}
.btn-save {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-group {
    width: 60vw;
    display: table;
    margin: 0 auto;
}

.workout {
    margin-top: 80px;
    margin-bottom: 80px;
}


.back-button {
    position: absolute;
    left: 50px;
    top: 0px;
}

.table-workout {
    width: 90%;
    margin-left:50px;
    margin-right:50px;
    border:1px solid #555;
}

.table th,
    .table td {
        padding: 8px;
        text-align: center;
    }


.table td:first-child, tablet th:first-child{
    width:350px;
}

.table td:nth-child(5), table th:nth-child(5) {
    width: 550px;
}

