
td .form-control {
    height: 65px;
    resize: none;
}

.work-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
}

    .work-title input.form-control {
        width: 400px;
        height: 50px;
    }

.d-flex label {
    align-self: center;
    font-size: 2rem;
}

.btn-add-work {
    align-self: flex-start;
    margin-bottom:10px;
    margin-left:15px;
}
.title-container{
    margin:40px;
}
.btn-save {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-group {
    width: 60vw;
    display: table;
    margin: 0 auto;
}

.workout {
    margin-top: 80px;
    margin-bottom: 80px;
}


.back-button {
    position: absolute;
    left: 50px;
    top: 0px;
}

.btn-delete-workout{
    margin-left:30px;
}

.table-workout {
    width: 90%;
    margin-left:50px;
    margin-right:50px;
    border:1px solid #555;
}

.table th,
    .table td {
        padding: 8px;
        text-align: center;
    }


.table td:first-child, tablet th:first-child{
    width:350px;
}

.table td:nth-child(5), table th:nth-child(5) {
    width: 550px;
}


@media (max-width: 1500px){
    table.table td:first-child, tablet th:first-child {
        width: 150px;
    }

    table.table td:nth-child(5), table th:nth-child(5) {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    table.table td:first-child, tablet th:first-child {
        width: 100px;
    }

    table.table td:nth-child(5), table th:nth-child(5) {
        width: 150px;
    }
}

@media (max-width: 700px) {
    button.back-button {
        left: 5px;
    }

    div.work-title h2 {
        font-size: 1.2rem;
    }

    div.work-title input.form-control {
        width: 300px;
        height: 50px;
    }

    table.table-workout {
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid #555;
    }

    table.table th,
    table.table td input {
        font-size:0.7rem;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


