

.profile-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #435585;
    border-radius: 25px;
    padding:70px;

}

.profile-info {
    display: flex;
    justify-content: center;
    gap:200px;
    width: 100%;
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.profile-details{
    font-size:1.2rem;
}

.edit{
    margin-bottom: 0px;
    margin-right:0px;
    margin-left:15px;
   
}

.edit-dialog {

    padding: 30px;
}


.text-field {
    background-color: #fff; 
    border-radius: 5px;
    margin: 100px;
}

.MuiPaper-root {
    background-color: #26272e !important;
}

.calendar-container{
    margin-top:80px;
    margin-bottom:80px;
}




@media (max-width:950px) and (min-width:700px) {
    div.profile-container {
        padding: 20px;
        width: 650px;
    }

    img.rounded-image {
        width: 200px;
        height: 200px;
    }

    div.profile-info {
        gap:50px;
    }

    p.name {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    div.profile-details {
        font-size: 1.1rem;
    }
}

@media (max-width:700px) {
    div.profile-container {
        padding: 20px;
        width: 350px;
    }

    img.rounded-image {
        width: 150px;
        height: 150px;
    }

    div.profile-info {
        flex-direction: column;
        gap: 40px;
    }

    p.name {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    div.profile-details {
        font-size: 1rem;
    }
}

